.footer {
  background-color: var(--footer-color);
  &__container {
    padding: 4rem 0 1rem;
  }

  &__title {
    text-align: center;
    margin-bottom: 2rem;
  }

  &__title,
  &__link {
    color: var(--title-color);
  }

  &__menu {
    display: flex;
    justify-content: center;
    column-gap: 1.5rem;
    margin-bottom: 2rem;
  }

  &__social {
    display: flex;
    column-gap: 1.25rem;
    justify-content: center;
    &-link {
      display: inline-flex;
      background-color: var(--first-color);
      color: var(--body-color);
      padding: 0.25rem;
      border-radius: 0.25rem;
      transition: all 0.3s;

      &:hover {
        transform: translateY(-3px);
      }
    }
    &-icon {
      font-size: 1rem;
    }
  }

  &__copy {
    display: block;
    font-size: var(--smaller-font-size);
    margin-top: 4.5rem;
    color: var(--title-color);
    text-align: center;
  }
}

// RESPONSIVE MEDIA

// 992px
.footer {
  @media only screen and (min-width: $bp-large) {
    &__social {
      &-icon {
        font-size: 1.3rem;
      }
    }
  }
}
