%msg {
  padding: 1rem 2rem;
  color: var(--title-color);
  font-size: var(--normal-font-size);
  position: fixed;
  top: -5rem;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 100%;
  z-index: var(--z-fixed);
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s cubic-bezier(0.5, 1, 0.89, 1);
}
%msg-visible {
  top: calc(var(--header-height) + 3rem);
  visibility: visible;
  opacity: 1;
}

.popup {
  &__success {
    @extend %msg;
    background-color: var(--good);

    &-sticky {
      @extend %msg-visible;

      @media only screen and (max-width: 446px) {
        top: calc(var(--header-height) + 3.8rem);
        text-align: center;
      }
    }
  }
  &__error {
    @extend %msg;
    background-color: var(--error);
    &-sticky {
      @extend %msg-visible;
    }
  }

  &__success,
  &__error {
    &-msg {
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 0.3rem;
    }
  }
}
