.skills {
  &__container {
    row-gap: 2rem;
    padding-top: 1rem;
  }

  &__content {
    background-color: var(--container-color);
    padding: 1.5rem;
    border-radius: 1.25rem;
  }

  &__title {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    color: var(--first-color-alt);
    text-align: center;
    margin-bottom: 2rem;
  }

  &__box {
    display: flex;
    justify-content: center;
    column-gap: 2.5rem;
  }

  &__group {
    display: grid;
    align-content: flex-start;
    row-gap: 2rem;
  }

  &__data {
    display: flex;
    column-gap: 0.5rem;
  }

  &__info {
    display: grid;
    row-gap: 0.5rem;
  }

  &__icon {
    margin-top: 0.3rem;
    &-1 {
      color: var(--html5);
    }
    &-2 {
      color: var(--css3);
    }
    &-3 {
      color: var(--js);
    }
    &-4 {
      color: var(--react);
    }
    &-5 {
      color: var(--firebase);
    }
  }

  &__name {
    font-weight: var(--font-medium);
    line-height: 0.8rem;
    font-size: var(--normal-font-size);
  }

  &__level {
    color: var(--text-color-light);
    font-size: var(--tiny-font-size);
  }

  &__handle {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;

    &-1,
    &-2 {
      height: 7rem;
      width: fit-content;
    }
    &-1 {
      transform: scaleX(-1);
    }
  }
}

// RESPONSIVE DESIGN
.skills {
  //320px
  @media only screen and(max-width: $bp-tiny) {
    &__box {
      column-gap: 1rem;
    }
    &__name {
      font-size: var(--small-font-size);
    }
  }
  //428px
  @media only screen and(min-width: $bp-smaller) {
    &__box {
      column-gap: 7.5rem;
    }
    &__content {
      padding: 2rem 4rem;
    }
  }
  //592px
  @media only screen and(min-width: $bp-small) {
    &__box {
      column-gap: 8.5rem;
    }
    &__container {
      justify-content: center;
    }
    &__content {
      width: 30rem;
      padding: 2rem 4rem;
    }
    &__level {
      font-size: var(--small-font-size);
    }
  }
  // 992px
  @media only screen and (min-width: $bp-large) {
    &__content {
      width: max-content;
      padding: 2rem 4rem;
    }

    &__level {
      font-size: var(--small-font-size);
    }
    &__handle {
      grid-column: 1 / span 2;
      &-1,
      &-2 {
        height: 12rem;
      }
    }
  }
}
